body {
    font-family: Arial, sans-serif;
    background-image: url('./assets/fondo.jpg');
    background-size: cover;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 400px;
}

h1 {
    text-align: center;
}

.question-container {
    text-align: center;
}

.options-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.option {
    margin: 5px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.option:hover {
    background-color: #f0f0f0;
}

.next-button {
    margin-top: 20px;
    padding: 10px;
    background-color: #661971;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.next-button:hover {
    background-color: #0056b3;
}

.result-container {
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

#image {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}